body {
	font-family: 'Oswald';
	background-color: #1e88e5;
}

h1,
h2 {
	color: white;
	text-align: center;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

.board {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.board-item {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
